body{
    margin:0;
    padding:0;
    background-color: rgb(4, 4, 26);
}

/* navbar design */
.navigation-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 130px;
    
}
.navigation-bar .logo{
    display: flex;
    align-items: center;
}
.navigation-bar .logo span{
    color:#3A68B8;
    font-size:22px;
    margin-left: 10px;

}
.navigation-bar .links a{
    text-decoration: none;
    color:#fff;
    margin-right:10px;
}
.navigation-bar .fa-bars{
    font-size:22px;
    color:#3A68B8;
    display: none;
    cursor:pointer;
}
/* .navigation-bar .sign-in a{
text-decoration: none;
color:#fff;
border:1px solid #3A68B8;
padding:6px 15px;
background-color: #3A68B8;
border-radius:7px
} */

/* introduction section design */
.introduction{
    padding:60px 130px;
    align-items: center;
}
.introduction-left p{
    font-weight: 600;
    color:#FFF
}
.introduction-left p.next{
color:#3A68B8;
text-transform: uppercase;
font-weight:600;
font-size:18px;
}
.introduction-left h1{
    font-weight:800;
    font-size: 55px;
    color:#FFF;
    padding-bottom:40px
}
.introduction-left .buton{
    margin-right: 10px;
}

/* companies section design */
.companies{
    padding:50px 130px;
}

/* Application section design */

 div.apply{
    padding: 60px 130px;
    display: flex;
    align-items: center;
}
.apply-right h1{
    color:#fff;
    font-size:40px;
    margin-bottom:30px
}
.apply-right p{
    color:#fff;
    margin-bottom:30px;
}

/* cards section */

.kards .kard{
    text-align: center;
    color:#fff;
    /* padding:10 80; */
    width:250px;
    background-color: rgb(8, 8, 31);
    margin-right:50px
}
.kards .kard h3{
    margin:12px 0;
}

/* feedback section design */

.feedback{
    padding:160px 130px;
    color:#fff;
    display:flex;
    align-items: center;
}
.feedback h1{
    font-size:40px
}
.feedback p{
    font-weight:600;
}































/* media */
@media(max-width:768px){
    .introduction .introduction-left{
        text-align: center;
        margin-bottom:50px
    }
    .companies .company{
        margin-bottom:50px
    }
    div.apply .apply-right{
        margin-top:65px;
        text-align: center;
    }
    .feedback-left{
        text-align: center;
        margin-bottom:50px
    }
}
@media(max-width:985px){
    .links, .sign-in{
        display: none;
    }
    .navigation-bar .fa-bars{
        display: block;
    }
}

